<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="singin">
        <img alt="Brand" src="...">
      </a>
       <a class="navbar-brand" href="<%= user_path(current_user)  %>">
        Profile
      </a>

    </div>
  </div>
</nav>
<div class="jumbotron">
  <h1>By <%= @User.string%></h1>
</div>

<%= render 'form' %>

<%= link_to 'Back', blogs_path %>
